<div class="inner">
   <div class="chat"><small>☆purescripttest2 joined.</small></div>
   <div class="chat"><small>☆purescripttest joined.</small></div>
   <div class=""><small>Format:</small> <br><strong>[Gen 7] Random Battle</strong></div>
   <div class=""><small><em>Sleep Clause Mod:</em> Limit one foe put to sleep</small></div>
   <div class=""><small><em>HP Percentage Mod:</em> HP is shown in percentages</small></div>
   <div class="spacer battle-history"><br></div>
   <div class="battle-history">Battle started between purescripttest2 and purescripttest!<br></div>
   <div class="spacer battle-history"><br></div>
   <div class="battle-history">Go! <strong>Blaziken</strong>!<br></div>
   <div class="spacer battle-history"><br></div>
   <div class="battle-history">purescripttest sent out Rotom (<strong>Rotom-Heat</strong>)!<br></div>
   <div class="spacer battle-history"><br></div>
   <h2 class="battle-history">Turn 1</h2>
   <div class="spacer battle-history"><br></div>
   <div class="battle-history">The opposing Rotom used <strong>Thunderbolt</strong>!<br></div>
   <div class="battle-history"><small>(Blaziken lost <abbr title="−183/237">77.2%</abbr> of its health!)</small><br></div>
   <div class="battle-history"><small>Blaziken is paralyzed! It may be unable to move!</small><br></div>
   <div class="spacer battle-history"><br></div>
   <div class="battle-history">Blaziken used <strong>High Jump Kick</strong>!<br></div>
   <div class="battle-history"><small>(The opposing Rotom lost 56% of its health!)</small><br></div>
   <div class="spacer battle-history"><br></div>
   <div class="battle-history"><small>[Blaziken's Speed Boost]</small><br></div>
   <div class="battle-history"><small>Blaziken's Speed rose!</small><br></div>
   <div class="spacer battle-history"><br></div>
   <h2 class="battle-history">Turn 2</h2>
   <div class="spacer battle-history"><br></div>
   <div class="battle-history">Blaziken, come back!<br></div>
   <div class="battle-history">Go! <strong>Amoonguss</strong>!<br></div>
   <div class="spacer battle-history"><br></div>
   <div class="battle-history">The opposing Rotom used <strong>Thunderbolt</strong>!<br></div>
   <div class="battle-history"><small>It's not very effective...</small><br></div>
   <div class="battle-history"><small>(Amoonguss lost <abbr title="−69/302">22.8%</abbr> of its health!)</small><br></div>
   <div class="spacer battle-history"><br></div>
   <div class="battle-history"><small>Amoonguss restored a little HP using its Black Sludge!</small><br></div>
   <div class="spacer battle-history"><br></div>
   <h2 class="battle-history">Turn 3</h2>
</div>
